* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
    background: #fff;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

#container {
    max-width: 400px;
    margin: 80px auto;
}

.form-wrap {
background: #fff;
padding: 15px 20px;
border-radius: 8px;
color: #333;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
} 

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    color: #666;
    border: 1px #ddd solid;
    border-radius: 5px;
}

.form-wrap button {
    margin-top: 20px;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 8px 0px;
    background: #49c1a2;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form-wrap button:hover {
    background: #37a08e;
}

.form-wrap .bottom-text {
    font-size: 12px;
    margin-top: 20px;
}

footer {
    text-align: center;
    color: #666;
    margin-top: 10px;
}

footer a {
    color: #49c1a2;
}